# Classification Exercises

In [1]:
from env import host, password, user
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
from env import host, user, password
from pydataset import data

The end product of this exercise is a jupyter notebook (classification_exercises.ipynb) and acquire.py. The notebook will contain all your work as you move through the exercises. The acquire.py file should contain the final functions.

1. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.
 - print the first 3 rows
 - print the number of rows and columns (shape)
 - print the column names
 - print the data type of each column
 - print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [2]:
df_iris = data('iris')

In [3]:
# print the first 3 rows
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [5]:
# print the number of rows and columns (shape)
df_iris.shape

(150, 5)

In [6]:
# print the column names
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [7]:
# print the data type of each column
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [9]:
# print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?
df_iris.describe()
# No I wouldn't recommend rescaling.

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

2. Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.
 - assign the first 100 rows to a new dataframe, df_excel_sample
 - print the number of rows of your original dataframe
 - print the first 5 column names
 - print the column names that have a data type of object
 - compute the range for each of the numeric variables.

In [11]:
df_excel = pd.read_excel('Excel_Exercises.xlsx', sheet_name='Table1_CustDetails')

In [14]:
# assign the first 100 rows to a new dataframe, df_excel_sample
df_excel_sample = df_excel.head(100)

In [29]:
# print the number of rows of your original dataframe
df_excel.shape

(7049, 12)

In [34]:
df_excel.shape[0]

7049

In [17]:
# print the first 5 column names
df_excel.columns[:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

In [25]:
# print the column names that have a data type of object
df_excel.select_dtypes('object')
df_excel.select_dtypes('object').columns

Index(['customer_id', 'gender', 'partner', 'dependents', 'payment_type',
       'churn'],
      dtype='object')

In [26]:
# compute the range for each of the numeric variables.
df_excel.dtypes

customer_id           object
gender                object
is_senior_citizen      int64
partner               object
dependents            object
phone_service          int64
internet_service       int64
contract_type          int64
payment_type          object
monthly_charges      float64
total_charges        float64
churn                 object
dtype: object

In [35]:
df_excel.select_dtypes(['int64', 'float64']).max() - df_excel.select_dtypes(['int64', 'float64']).min()

is_senior_citizen       1.0
phone_service           2.0
internet_service        2.0
contract_type           2.0
monthly_charges       100.5
total_charges        8666.0
dtype: float64

In [36]:
df_excel.select_dtypes(exclude='object').max() - df_excel.select_dtypes(exclude='object').min()

is_senior_citizen       1.0
phone_service           2.0
internet_service        2.0
contract_type           2.0
monthly_charges       100.5
total_charges        8666.0
dtype: float64

3. Read the data from this google sheet into a dataframe, df_google
 - print the first 3 rows
 - print the number of rows and columns
 - print the column names
 - print the data type of each column
 - print the summary statistics for each of the numeric variables
 - print the unique values for each of your categorical variables

In [ ]:
df_google = 
csv_export_url = sheet_url.replace('/edit?usp=sharing', '/export?format=csv&gid=341089357')